---
import Layout from "../layouts/Layout.astro";
import PostBlock from "../components/PostBlock.svelte";

const allPosts = await Astro.glob("./posts/*.md");
---

<Layout>
  <ul class="flex flex-col space-y-16">
    {
      allPosts.map(({ frontmatter, file }) => {
        const path =
          file.match(/\/posts\/.*\.md/)?.[0].replace(".md", "") ?? "";

        return (
          <li>
            <PostBlock
              title={frontmatter.title}
              description={frontmatter.description}
              date={frontmatter.date}
              path={path}
            />
          </li>
        );
      })
    }
  </ul>
</Layout>
