---
import Layout from "../layouts/Layout.astro";
import PostBlock from "../components/PostBlock.svelte";
import dayjs from "dayjs";
import type { MarkdownInstance } from "astro";

interface Frontmatter {
  title: string;
  date: string;
  description: string;
  layout: string;
}

const allPosts = Object.values(
  import.meta.glob<MarkdownInstance<Frontmatter>>("./posts/*.md", {
    eager: true,
  })
);

allPosts.sort((post1, post2) => {
  const date1 = dayjs(post1.frontmatter.date);
  const date2 = dayjs(post2.frontmatter.date);
  return date1.isBefore(date2) ? 1 : -1;
});
---

<Layout>
  <ul class="flex flex-col space-y-16">
    {
      allPosts.map(({ frontmatter, file }) => {
        const path =
          file.match(/\/posts\/.*\.md/)?.[0].replace(".md", "") ?? "";

        return (
          <li>
            <PostBlock
              title={frontmatter.title}
              description={frontmatter.description}
              date={frontmatter.date}
              path={path}
            />
          </li>
        );
      })
    }
  </ul>
</Layout>
