---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout>
  <article
    class="prose max-w-none prose-a:text-strong-blue prose-a:no-underline prose-a:shadow-link-underline prose-h2:text-3xl pb-6"
  >
    <h1 class="text-strong-blue">{frontmatter.title}</h1>
    <slot />
  </article>
</Layout>
